In [40]:
import pandas as pd 
file = pd.read_csv('marketing_customer_analysis.csv')
file.shape

(10910, 26)

In [41]:
file.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [42]:
file = file.drop(['Unnamed: 0'], axis=1)
file = file.rename(columns={'EmploymentStatus':'Employment Status'})

In [43]:
file.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,Employment Status,Gender,Income,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [44]:
file.dtypes

Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
Employment Status                 object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim          float64
Months Since Policy Inception      int64
Number of Open Complaints        float64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
Vehicle Type                      object
dtype: object

In [45]:
#Numerical columns: Customer Lifetime Value, Income, Monthly Premium Auto,Months Since Last Claim, Months Since Policy Inception, Number of Open Complaints, Number of Policies, Total Claim Amount 
#Categorical columns: State, Coverage, Education, Employment Status, Gender, Policy Type, Policy, Renew Offer Type, Sales Channel, Vehicle Class, Vehicle Size, Vehicle Type

In [46]:
file.isna().sum()

Customer                            0
State                             631
Customer Lifetime Value             0
Response                          631
Coverage                            0
Education                           0
Effective To Date                   0
Employment Status                   0
Gender                              0
Income                              0
Location Code                       0
Marital Status                      0
Monthly Premium Auto                0
Months Since Last Claim           633
Months Since Policy Inception       0
Number of Open Complaints         633
Number of Policies                  0
Policy Type                         0
Policy                              0
Renew Offer Type                    0
Sales Channel                       0
Total Claim Amount                  0
Vehicle Class                     622
Vehicle Size                      622
Vehicle Type                     5482
dtype: int64

In [47]:
#State: I've decided not making changes on it because I can't know the state of the clients
#Months Since Last Claim: I've decided to do the mean of the rest of the values
import numpy as np
mean_Months_Since_Last_Claim = file['Months Since Last Claim'].mean()
mean_Months_Since_Last_Claim
file['Months Since Last Claim'] = file['Months Since Last Claim'].fillna(mean_Months_Since_Last_Claim)

In [48]:
#Number of complaints: I've decided to take the median because the range of values was very short
median_Num_Com = file['Number of Open Complaints'].median()
median_Num_Com
file['Number of Open Complaints'] = file['Number of Open Complaints'].fillna(median_Num_Com)

In [49]:
#Response: I've decided to use the most common value
file['Response'].unique()
file['Response'].value_counts()

No     8813
Yes    1466
Name: Response, dtype: int64

In [50]:
file['Response'] = file['Response'].fillna('No')

In [51]:
file['Vehicle Class'].unique()
file['Vehicle Class'].value_counts()

Four-Door Car    5212
Two-Door Car     2118
SUV              2012
Sports Car        550
Luxury SUV        208
Luxury Car        188
Name: Vehicle Class, dtype: int64

In [52]:
file['Vehicle Size'].unique()
file['Vehicle Size'].value_counts()

Medsize    7251
Small      1966
Large      1071
Name: Vehicle Size, dtype: int64

In [53]:
file['State'].unique()
file['State'].value_counts()

California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: State, dtype: int64

In [54]:
#Because I am not able to know the Vehicle Class, Vehicle Size and the State
#and there are several options so I could change the data, I've decided not to eliminate the NaN

In [55]:
file['Vehicle Type'].unique()
file['Vehicle Type'].value_counts()

A    5428
Name: Vehicle Type, dtype: int64

In [56]:
#Finally, I've decided to eliminate Vehicle Type because half of them are A
#and the other half are NaN
file = file[file['Vehicle Type'].isna()==False]

In [57]:
file.isna().sum()

Customer                           0
State                            313
Customer Lifetime Value            0
Response                           0
Coverage                           0
Education                          0
Effective To Date                  0
Employment Status                  0
Gender                             0
Income                             0
Location Code                      0
Marital Status                     0
Monthly Premium Auto               0
Months Since Last Claim            0
Months Since Policy Inception      0
Number of Open Complaints          0
Number of Policies                 0
Policy Type                        0
Policy                             0
Renew Offer Type                   0
Sales Channel                      0
Total Claim Amount                 0
Vehicle Class                    314
Vehicle Size                     314
Vehicle Type                       0
dtype: int64

In [123]:
file = pd.read_csv('marketing_customer_analysis.csv')
#new = old[['A', 'C', 'D']].copy()
file_new  = file[['Effective To Date']].copy()
file_new.head()

  Effective To Date
0           2/18/11
1           1/18/11
2           2/10/11
3           1/11/11
4           1/17/11

In [124]:
file_new['Date'] = pd.to_datetime(file_new['Effective To Date'])

In [125]:
file_new.head()

  Effective To Date       Date
0           2/18/11 2011-02-18
1           1/18/11 2011-01-18
2           2/10/11 2011-02-10
3           1/11/11 2011-01-11
4           1/17/11 2011-01-17

In [126]:
file_new['Month'] = file_new['Date'].dt.month

In [127]:
file_new.head()

  Effective To Date       Date  Month
0           2/18/11 2011-02-18      2
1           1/18/11 2011-01-18      1
2           2/10/11 2011-02-10      2
3           1/11/11 2011-01-11      1
4           1/17/11 2011-01-17      1

In [129]:
file_new['Month'].unique()
file_new['Month'].value_counts()

1    5818
2    5092
Name: Month, dtype: int64

In [137]:
#I will only filter the january and february data because march data do not exist
file_new[(file_new['Month']==1) | (file_new['Month']==2) ]

      Effective To Date       Date  Month
0               2/18/11 2011-02-18      2
1               1/18/11 2011-01-18      1
2               2/10/11 2011-02-10      2
3               1/11/11 2011-01-11      1
4               1/17/11 2011-01-17      1
...                 ...        ...    ...
10905           1/19/11 2011-01-19      1
10906            1/6/11 2011-01-06      1
10907            2/6/11 2011-02-06      2
10908           2/13/11 2011-02-13      2
10909            1/8/11 2011-01-08      1

[10910 rows x 3 columns]